
.container-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: linear-gradient(#bdc9ec, #4098c0); 
  }
  

  .container-formulario .form-group {
    margin-bottom: 20px;
  }
  
 
  .container-formulario button {
    margin-right: 10px; 
  }
  

  .container-formulario form {
    margin-bottom: 0; 
  }
  
  