.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #092a68;
  padding: 20px;
}

.container-formulario form {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
}

.container-formulario .form-group {
  margin-bottom: 20px;
}

.container-formulario button {
  margin-right: 10px;
}