.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: linear-gradient(#bdc9ec, #1f2336); 
  }
  
  .container form {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
  }
  
  .container form .form-group {
    margin-bottom: 20px;
  }
  
  .container form button {
    margin-right: 10px;
  }
  