.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #092a68;
  padding: 20px;
  max-width: 100%;
}

.container form {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
}

.container form .form-group {
  margin-bottom: 20px;
}

.container form button {
  margin-right: 10px;
}