<head>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>


<header>
    <a href="#" class="logo"><img src="/../../img/api.jpg" alt=""></a>

    <ul class="navmenu">
        <li><a href="#">inicio</a></li>
        <li><a href="#">tienda</a></li>
        <li><a href="#">productos</a></li>
        <li><a href="#">page</a></li>
        <li><a href="#">docs</a></li>
    </ul>

    <div class="nav-icon">
        <a href="#"><i class='bx bxs-search'></i></a>
        <a href="#"><i class='bx bxs-user-circle'></i></a>
        <a href="#"><i class='bx bxs-cart-alt'></i></a>
    </div>

    <div class="bx bx-menu" id="menu-icon"></div>
    
</header>