<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Dashboard</title>
  </head>
  
  <body>
    <header>
      <a href="#" class="logo"><img src="/src/app/img/api.jpg" alt="" /></a>

      <ul class="navmenu">
        <li><a href="#">inicio</a></li>
        <li><a href="#">tienda</a></li>
        <li><a href="#">productos</a></li>
        <li><a href="#">novedades</a></li>
        
      </ul>

      <div class="nav-icon">
        <a href="#"><i class="bx bxs-search"></i></a>
        <a href="#"><i class="bx bxs-user-circle"></i></a>
        <a href="#"><i class="bx bxs-cart-alt"></i></a>

        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </header>

    <section class="main-home">
      <div class="main-text">
        <h5>Hot Sale</h5>
        <h1>
          Nuevos <br />
          productos
        </h1>
        <p>y más</p>

        <a href="#" class="main-btn">
          ver <i class="bx bxs-chevron-right"></i
        ></a>
      </div>

    </section>

    <section class="details-card">
      <div class="container">
        <h3>PRODUCTOS</h3>
        <hr>
        
        <!------ BOTON ---------->
        <div class="row">
          <div class="col-md-4" *ngFor="let producto of productos">
            <div class="card-content">
              <div class="card-img">
                <img src="{{ producto.category.image }}" alt="" />
                <span>
                  <h4>{{ producto.category.name }}</h4>
                </span>
              </div>
              <div class="card-desc">
                <h3>{{ producto.title }} ${{ producto.price }}</h3>
                <p>{{ producto.description }}</p>
                <button type="button" class="btn-card" (click)="editarProducto(producto.id)">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="nuevoProducto()">Nuevo Producto</button>
      </div>
    </section>
  </body>

  <footer>
    
    <div class="footer-column">
      <h4>CATEGORIAS</h4>
      <ul>
        <li><a href="#"> - Electronics</a></li>
        <li><a href="#"> - Laptops</a></li>
        <li><a href="#"> - Smarthphones</a></li>
        <li><a href="#"> - Accesories</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>INFORMACION</h4>
      <ul>
        <li><a href="#"> - Contactenos</a></li>
        <li><a href="#"> - Politica de Privacidad</a></li>
        <li><a href="#"> - Ordenes y Devoluciones</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>SERVICIOS</h4>
      <ul>
        <li><a href="#"> - Cuenta</a></li>
        <li><a href="#"> - Ver Carrito</a></li>
        <li><a href="#"> - Lista de Deseos</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>CONTACTO</h4>
      <ul>
        <li><a href="#"> - UTP Pereira</a></li>
        <li><a href="#"> - +57 313 0000000</a></li>
        <li><a href="#"> - +57 320 0000000</a></li>
      </ul>
    </div>
  </footer>
  
  
</html>
